absl-py @ file:///home/conda/feedstock_root/build_artifacts/absl-py_1606234718434/work
aiohttp @ file:///Users/builder/miniconda3/envs/prefect/conda-bld/aiohttp_1637857814678/work
aiosignal @ file:///tmp/build/80754af9/aiosignal_1637843061372/work
appdirs==1.4.4
appnope @ file:///Users/ktietz/demo/mc3/conda-bld/appnope_1629146036738/work
argon2-cffi @ file:///Users/ktietz/demo/mc3/conda-bld/argon2-cffi_1629726290123/work
astroid==2.9.0
astunparse==1.6.3
async-generator @ file:///home/ktietz/src/ci/async_generator_1611927993394/work
async-timeout @ file:///tmp/build/80754af9/async-timeout_1637851218186/work
attrs @ file:///tmp/build/80754af9/attrs_1620827162558/work
Automat @ file:///tmp/build/80754af9/automat_1600298431173/work
backcall @ file:///home/ktietz/src/ci/backcall_1611930011877/work
bcrypt @ file:///Users/ktietz/demo/mc3/conda-bld/bcrypt_1629370607831/work
beautifulsoup4 @ file:///tmp/build/80754af9/beautifulsoup4_1631874778482/work
bleach @ file:///tmp/build/80754af9/bleach_1628110601003/work
blinker==1.4
blis @ file:///Users/ktietz/demo/mc3/conda-bld/cython-blis_1629792501946/work
boto3 @ file:///opt/conda/conda-bld/boto3_1643638230110/work
botocore @ file:///opt/conda/conda-bld/botocore_1642672735464/work
Bottleneck @ file:///Users/ktietz/demo/mc3/conda-bld/bottleneck_1629791503532/work
brotlipy @ file:///Users/runner/miniforge3/conda-bld/brotlipy_1636012319596/work
cached-property @ file:///tmp/build/80754af9/cached-property_1600785575025/work
cachetools @ file:///tmp/build/80754af9/cachetools_1619597386817/work
catalogue @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/croot-jcz43r1s/catalogue_1643444365424/work
certifi==2021.10.8
cffi @ file:///Users/runner/miniforge3/conda-bld/cffi_1636046173594/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1638815705608/work
click==8.0.3
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1602866480661/work
conda==4.12.0
conda-package-handling @ file:///Users/runner/miniforge3/conda-bld/conda-package-handling_1636022092101/work
constantly==15.1.0
cryptography @ file:///Users/runner/miniforge3/conda-bld/cryptography_1637648810489/work
csbaoyan==0.0.1
cssselect==1.1.0
cycler @ file:///tmp/build/80754af9/cycler_1637851556182/work
cymem @ file:///Users/ktietz/demo/mc3/conda-bld/cymem_1629455355641/work
datasets==1.17.0
debugpy @ file:///Users/builder/miniconda3/envs/prefect/conda-bld/debugpy_1637092214173/work
decorator @ file:///tmp/build/80754af9/decorator_1632776554403/work
defusedxml @ file:///tmp/build/80754af9/defusedxml_1615228127516/work
dill @ file:///home/conda/feedstock_root/build_artifacts/dill_1623610058511/work
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.2.0/en_core_web_sm-3.2.0-py3-none-any.whl
entrypoints==0.3
feather-format @ file:///home/conda/feedstock_root/build_artifacts/feather-format_1588949071708/work
filelock @ file:///tmp/build/80754af9/filelock_1638521398314/work
Flask @ file:///opt/conda/conda-bld/flask_1648041541647/work
flatbuffers==2.0
fonttools==4.25.0
frozenlist @ file:///Users/builder/miniconda3/envs/prefect/conda-bld/frozenlist_1637854040629/work
fsspec @ file:///tmp/build/80754af9/fsspec_1636116461911/work
future @ file:///Users/ktietz/Code/oss/ci_pkgs/future_1626786552456/work
gast @ file:///Users/ktietz/demo/mc3/conda-bld/gast_1628588903283/work
gensim==4.2.0
google-api-core @ file:///C:/ci/google-api-core-split_1639676600705/work
google-auth @ file:///tmp/build/80754af9/google-auth_1626320605116/work
google-auth-oauthlib==0.4.1
google-cloud-core @ file:///opt/conda/conda-bld/google-cloud-core_1646821952931/work
google-cloud-storage @ file:///home/conda/feedstock_root/build_artifacts/google-cloud-storage_1644876711050/work
google-crc32c @ file:///Users/ktietz/demo/mc3/conda-bld/google-crc32c_1630577233944/work
google-pasta @ file:///Users/ktietz/demo/mc3/conda-bld/google-pasta_1630577991354/work
google-resumable-media @ file:///tmp/build/80754af9/google-resumable-media_1624367812531/work
googleapis-common-protos==1.54.0
grpcio @ file:///Users/builder/miniconda3/envs/prefect/conda-bld/grpcio_1637592348692/work
h5py @ file:///Users/runner/miniforge3/conda-bld/h5py_1609497507927/work
huggingface-hub @ file:///tmp/build/80754af9/huggingface_hub_1639662742275/work
hyperlink @ file:///tmp/build/80754af9/hyperlink_1610130746837/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1609836280497/work
importlib-metadata @ file:///Users/builder/miniconda3/envs/prefect/conda-bld/importlib-metadata_1638777154045/work
incremental @ file:///tmp/build/80754af9/incremental_1636629750599/work
ipykernel @ file:///Users/builder/miniconda3/envs/prefect/conda-bld/ipykernel_1637093280282/work/dist/ipykernel-6.4.1-py3-none-any.whl
ipython @ file:///Users/builder/miniconda3/envs/prefect/conda-bld/ipython_1635944760326/work
ipython-genutils @ file:///tmp/build/80754af9/ipython_genutils_1606773439826/work
ipywidgets @ file:///tmp/build/80754af9/ipywidgets_1634143127070/work
isort==5.10.1
itemadapter @ file:///tmp/build/80754af9/itemadapter_1626442940632/work
itemloaders @ file:///opt/conda/conda-bld/itemloaders_1646805235997/work
itsdangerous @ file:///tmp/build/80754af9/itsdangerous_1621432558163/work
jedi @ file:///Users/ktietz/demo/mc3/conda-bld/jedi_1629299203481/work
jieba @ file:///home/conda/feedstock_root/build_artifacts/jieba_1622403007736/work
Jinja2 @ file:///tmp/build/80754af9/jinja2_1635780242639/work
jmespath @ file:///Users/ktietz/demo/mc3/conda-bld/jmespath_1630583964805/work
joblib @ file:///tmp/build/80754af9/joblib_1635411271373/work
jsonschema @ file:///Users/ktietz/demo/mc3/conda-bld/jsonschema_1630511932244/work
jupyter @ file:///Users/ktietz/demo/mc3/conda-bld/jupyter_1629146554731/work
jupyter-client @ file:///tmp/build/80754af9/jupyter_client_1637148478538/work
jupyter-console @ file:///tmp/build/80754af9/jupyter_console_1616615302928/work
jupyter-core @ file:///Users/builder/miniconda3/envs/prefect/conda-bld/jupyter_core_1636622821915/work
jupyterlab-pygments @ file:///tmp/build/80754af9/jupyterlab_pygments_1601490720602/work
jupyterlab-widgets @ file:///tmp/build/80754af9/jupyterlab_widgets_1609884341231/work
kaggle @ file:///home/conda/feedstock_root/build_artifacts/kaggle_1639768640429/work
keras @ file:///home/conda/feedstock_root/build_artifacts/keras_1637872120405/work/keras-2.7.0-py2.py3-none-any.whl
Keras-Preprocessing @ file:///tmp/build/80754af9/keras-preprocessing_1612283640596/work
kiwisolver @ file:///Users/ktietz/demo/mc3/conda-bld/kiwisolver_1628942354602/work
langcodes @ file:///opt/conda/conda-bld/langcodes_1643477751144/work
lazy-object-proxy==1.7.1
libclang==12.0.0
lxml @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_croot-hbg5b6tz/lxml_1646645179826/work
Markdown @ file:///Users/ktietz/demo/mc3/conda-bld/markdown_1629712599908/work
MarkupSafe @ file:///Users/ktietz/demo/mc3/conda-bld/markupsafe_1629137411893/work
matplotlib @ file:///Users/builder/miniconda3/envs/prefect/conda-bld/matplotlib-suite_1638374039169/work
matplotlib-inline @ file:///tmp/build/80754af9/matplotlib-inline_1628242447089/work
mccabe==0.6.1
mistune @ file:///Users/ktietz/demo/mc3/conda-bld/mistune_1629356075445/work
multidict @ file:///Users/ktietz/demo/mc3/conda-bld/multidict_1628859257161/work
multiprocess @ file:///Users/runner/miniforge3/conda-bld/multiprocess_1635876058593/work
munkres==1.1.4
murmurhash @ file:///Users/ktietz/demo/mc3/conda-bld/murmurhash_1629455259398/work
nbclient @ file:///tmp/build/80754af9/nbclient_1614364831625/work
nbconvert @ file:///Users/ktietz/demo/mc3/conda-bld/nbconvert_1629356215560/work
nbformat @ file:///tmp/build/80754af9/nbformat_1617383369282/work
nest-asyncio @ file:///tmp/build/80754af9/nest-asyncio_1613680548246/work
networkx @ file:///opt/conda/conda-bld/networkx_1647437648384/work
nltk==3.6.5
notebook @ file:///Users/builder/miniconda3/envs/prefect/conda-bld/notebook_1637167276512/work
numexpr @ file:///Users/ktietz/demo/mc3/conda-bld/numexpr_1629902488034/work
numpy @ file:///Users/ktietz/demo/mc3/conda-bld/numpy_1629901610129/work
oauthlib==3.1.0
olefile @ file:///Users/ktietz/demo/mc3/conda-bld/olefile_1629805411829/work
opt-einsum @ file:///tmp/build/80754af9/opt_einsum_1621500238896/work
packaging @ file:///tmp/build/80754af9/packaging_1637314298585/work
pandas==1.3.4
pandocfilters @ file:///Users/ktietz/demo/mc3/conda-bld/pandocfilters_1629356156892/work
parsel @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_croot-ja4zx9dx/parsel_1646739521903/work
parso @ file:///tmp/build/80754af9/parso_1617223946239/work
pathy @ file:///tmp/build/80754af9/pathy_1625085024989/work
pexpect @ file:///tmp/build/80754af9/pexpect_1605563209008/work
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
Pillow @ file:///Users/ktietz/demo/mc3/conda-bld/pillow_1628860154764/work
platformdirs==2.4.0
preshed @ file:///Users/ktietz/demo/mc3/conda-bld/preshed_1629455434218/work
prometheus-client @ file:///tmp/build/80754af9/prometheus_client_1637050397234/work
promise==2.3
prompt-toolkit @ file:///tmp/build/80754af9/prompt-toolkit_1633440160888/work
Protego @ file:///tmp/build/80754af9/protego_1598657180827/work
protobuf==3.18.1
psutil @ file:///Users/ktietz/demo/mc3/conda-bld/psutil_1629137101469/work
ptyprocess @ file:///tmp/build/80754af9/ptyprocess_1609355006118/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pyarrow==6.0.1
pyasn1 @ file:///Users/ktietz/demo/mc3/conda-bld/pyasn1_1629708007385/work
pyasn1-modules==0.2.8
pycosat @ file:///Users/runner/miniforge3/conda-bld/pycosat_1636020570107/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1636257122734/work
pydantic @ file:///Users/ktietz/demo/mc3/conda-bld/pydantic_1629145475927/work
pyDeprecate @ file:///home/conda/feedstock_root/build_artifacts/pydeprecate_1622496226936/work
PyDispatcher==2.0.5
Pygments @ file:///tmp/build/80754af9/pygments_1629234116488/work
PyHamcrest @ file:///tmp/build/80754af9/pyhamcrest_1615748656804/work
PyJWT @ file:///home/conda/feedstock_root/build_artifacts/pyjwt_1638819640841/work
pylint==2.12.2
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1633192417276/work
pyparsing @ file:///tmp/build/80754af9/pyparsing_1635766073266/work
PyQt5==5.15.2
PyQt5_sip==4.19.25
PyQtChart==5.15.2
pyrsistent @ file:///Users/ktietz/demo/mc3/conda-bld/pyrsistent_1628941062930/work
PySocks @ file:///Users/runner/miniforge3/conda-bld/pysocks_1635862736740/work
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
python-slugify @ file:///tmp/build/80754af9/python-slugify_1620405669636/work
pytorch-lightning @ file:///home/conda/feedstock_root/build_artifacts/pytorch-lightning_1640117703923/work
pytz==2021.3
PyYAML==6.0
pyzmq @ file:///Users/builder/miniconda3/envs/prefect/conda-bld/pyzmq_1638447141825/work
qtconsole @ file:///tmp/build/80754af9/qtconsole_1632739723211/work
QtPy @ file:///tmp/build/80754af9/qtpy_1629397026935/work
queuelib==1.5.0
regex @ file:///Users/runner/miniforge3/conda-bld/regex_1636504423170/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1637771257551/work
requests-file @ file:///Users/ktietz/demo/mc3/conda-bld/requests-file_1629455781986/work
requests-oauthlib==1.3.0
rouge-score==0.0.4
rsa @ file:///tmp/build/80754af9/rsa_1614366226499/work
ruamel-yaml-conda @ file:///Users/runner/miniforge3/conda-bld/ruamel_yaml_1636009262461/work
s3transfer @ file:///tmp/build/80754af9/s3transfer_1626435152308/work
sacremoses @ file:///tmp/build/80754af9/sacremoses_1633107328213/work
scikit-learn @ file:///Users/builder/miniconda3/envs/prefect/conda-bld/scikit-learn_1635339011232/work
scipy @ file:///Users/ktietz/demo/mc3/conda-bld/scipy_1629907664009/work
Scrapy @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_croot-nhc7zr9q/scrapy_1646900936415/work
seaborn @ file:///tmp/build/80754af9/seaborn_1629307859561/work
selenium @ file:///Users/ktietz/demo/mc3/conda-bld/selenium_1629460911257/work
Send2Trash @ file:///tmp/build/80754af9/send2trash_1632406701022/work
sentence-transformers @ file:///home/conda/feedstock_root/build_artifacts/sentence-transformers_1645387718856/work
sentencepiece==0.1.96
service-identity @ file:///Users/ktietz/demo/mc3/conda-bld/service_identity_1629460757137/work
shellingham @ file:///Users/ktietz/demo/mc3/conda-bld/shellingham_1629144685686/work
six @ file:///home/linux1/recipes/ci/six_1610970791821/work
smart-open @ file:///tmp/build/80754af9/smart_open_1623928409369/work
snownlp @ file:///home/conda/feedstock_root/build_artifacts/snownlp_1631020285328/work
soupsieve @ file:///tmp/build/80754af9/soupsieve_1636706018808/work
spacy @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/croot-1gychzpf/spacy_1643537934652/work
spacy-legacy @ file:///opt/conda/conda-bld/spacy-legacy_1643527032075/work
spacy-loggers @ file:///opt/conda/conda-bld/spacy-loggers_1643478552797/work
srsly @ file:///Users/ktietz/demo/mc3/conda-bld/srsly_1629803029274/work
tensorboard @ file:///tmp/build/80754af9/tensorboard_1633093581375/work/tensorboard-2.6.0-py3-none-any.whl
tensorboard-data-server @ file:///Users/runner/miniforge3/conda-bld/tensorboard-data-server_1636045914528/work/tensorboard_data_server-0.6.0-py3-none-macosx_11_0_arm64.whl
tensorboard-plugin-wit==1.6.0
tensorflow-datasets==4.4.0
tensorflow-estimator==2.7.0
tensorflow-macos==2.7.0
tensorflow-metadata==1.5.0
tensorflow-metal==0.3.0
termcolor==1.1.0
terminado==0.9.4
testpath @ file:///tmp/build/80754af9/testpath_1624638946665/work
text-unidecode @ file:///Users/ktietz/demo/mc3/conda-bld/text-unidecode_1629401354553/work
textblob==0.15.3
thinc @ file:///Users/builder/miniconda3/envs/prefect/conda-bld/thinc_1636637513834/work
threadpoolctl @ file:///Users/ktietz/demo/mc3/conda-bld/threadpoolctl_1629802263681/work
tldextract @ file:///opt/conda/conda-bld/tldextract_1646638314385/work
tokenizers @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/croot-n6djzszj/tokenizers_1639608519224/work
toml==0.10.2
torch @ file:///Users/runner/miniforge3/conda-bld/pytorch-recipe_1635217266490/work
torchmetrics @ file:///home/conda/feedstock_root/build_artifacts/torchmetrics_1639645639046/work
torchtext==0.6.0
torchvision==0.2.2
tornado @ file:///Users/ktietz/demo/mc3/conda-bld/tornado_1628698929452/work
tqdm @ file:///tmp/build/80754af9/tqdm_1635330843403/work
traitlets @ file:///tmp/build/80754af9/traitlets_1636710298902/work
transformers @ file:///tmp/build/80754af9/transformers_1639665351690/work
Twisted @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_croot-pa6i0fsn/twisted_1646835848983/work
typer @ file:///tmp/build/80754af9/typer_1637667998014/work
typing_extensions==4.0.1
Unidecode @ file:///tmp/build/80754af9/unidecode_1614712377438/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1632350318291/work
w3lib @ file:///Users/ktietz/demo/mc3/conda-bld/w3lib_1629359764703/work
wasabi @ file:///tmp/build/80754af9/wasabi_1612219178408/work
wcwidth @ file:///Users/ktietz/demo/mc3/conda-bld/wcwidth_1629357192024/work
webencodings==0.5.1
Werkzeug @ file:///tmp/build/80754af9/werkzeug_1635505089296/work
widgetsnbextension @ file:///Users/ktietz/demo/mc3/conda-bld/widgetsnbextension_1629356330351/work
wordcloud==1.8.1
wrapt==1.13.3
xgboost==1.5.0
xlrd @ file:///tmp/build/80754af9/xlrd_1608072521494/work
xxhash @ file:///Users/runner/miniforge3/conda-bld/python-xxhash_1635939593899/work
yarl @ file:///Users/ktietz/demo/mc3/conda-bld/yarl_1628859370630/work
zipp @ file:///tmp/build/80754af9/zipp_1633618647012/work
zope.interface @ file:///Users/ktietz/demo/mc3/conda-bld/zope.interface_1628962362010/work

jieba~=0.42.1
numpy~=1.19.5
flask~=2.0.3
scipy~=1.7.1